body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    background: #f5f5f5;
    color: #222;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    background: #007bff;
    color: white;
}

.navbar ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

.navar a {
    text-decoration: none;
    color: white;
}

.contenido {
    padding: 30px;
}

button{
    padding: 8px 15px;
    border: none;
    cursor: pointer;
}

.dark {
    background: #121212;
    color: #f5f5f5;
}

.dark .navbar {
    background: #222;
}